/* open-sans-300 - latin_cyrillic */
@font-face
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'),
            url('fonts/open-sans-v15-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('fonts/open-sans-v15-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin_cyrillic */
@font-face
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
            url('fonts/open-sans-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('fonts/open-sans-v15-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
            url('fonts/open-sans-v15-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('fonts/open-sans-v15-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('fonts/open-sans-v15-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/open-sans-v15-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*
{
    font-family: 'Open Sans';
    font-size: 18px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

*:focus
{
    outline: 0;
}

a:focus
{
    outline: 0;
}

input:focus
{
    outline: 0;
}

.large_panel
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 0 auto;
    padding: 0px;
    max-width: 1200px;
}

.small_panel
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-width: 940px;
    padding: 0px;
    margin: 0 auto;
}

/* Header */
header
{
    background-image: url("images/header_back.png");
    background-position-x: 50%;
    height: 394px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

h1
{
    text-align: center;
    margin-top: 63px;
    color: white;
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
}

.pink_logo_top
{
    margin-top: -16px;
}

/* Main menu */
.main_menu
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 110px;
    padding: 0px 130px;
    background:rgba(0, 0, 0, .3);
}

.main_menu a
{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.main_menu a:link{
    color: white;
}

.main_menu a:visited{
    color: white;
}

.main_menu a:hover {
    color: #d22856;
}

.main_menu a:active{
    color: white;
    opacity: .3;
}

.main_menu nav
{
    margin-left: 170px;
    flex-grow: 1;
    margin: -2px -1px 0px 172px;
}

.main_menu nav ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

/* Main */
main
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.top_img
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wide_p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    line-height: 30px;
    padding-top: 3px;
    text-align: center;
    font-weight: normal;
}

.top_img_container
{
    text-decoration: none;
    position: relative;
    display: flex;
}

.top_tag
{
    color: white;
    background: #d22856;
    font-size: 12px;
    font-weight: bold;
    width: 140px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 130px;
    top: 54px;
    padding-bottom: 2px;
}

.img_info
{
    background: #f2f2f2;
    padding: 26px 28px;
    margin: 0px;
    position: relative;
}

.img_info p
{
    margin: 0px;
    font-size: 14px;
}

.img_info div
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
}

.img_info .sender_name
{
    font-weight: 700;
}

.img_info .timepoint
{
    color: #A2A2A2;
    margin-left: 4px;
    font-size: 12px;
}

.img_info .description
{
    flex-grow: 1;
    margin-top: 6px;
}

.img_info .likes
{
    color: #d22856;
    font-size: 12px;
    background: url(images/icon-heart.svg) no-repeat;
    background-size: 18px 16px;
    background-position-y: 50%;
    background-position-x: 100%;
    text-decoration: none;
    cursor: pointer;
    padding-right: 33px;
    padding-top: 2px;
    font-weight: 400;
}

.likes:link
{
    color: #d22856;
}
.likes:visited
{
    color: #d22856;
}
.likes:hover
{
    color: #d22856;
}
.likes:active
{
    color: #d22856;
    opacity: .3;
}

/* Picture of the day */
.top_img .img_info
{
    align-self: stretch;
    position: relative;
}

#top_img_info .likes
{
    position: absolute;
    right: 29px;
    top: 27px;
}

/* Image list */
.img_viewer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding: 0px;
    margin: 0px -10px;
}

.img_viewer li
{
    list-style-type: none;
    display: block;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 300px;
    height: 555px;
    margin: 50px 10px 4px 10px;
    background: #f2f2f2;
}

.img_viewer .img_info
{
    height: 150px;
}

.img_viewer img
{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.img_viewer .likes
{
    position: absolute;
    left: 28px;
    right: 29px;
    bottom: 21px;
}

.img_viewer .description
{
    line-height: 24px;
    margin-top: 3px;
}


.upload_p
{
    font-stretch: expanded;
    text-align: center;
    margin: 55px 0px 65px 0px;
    line-height: 30px;
    text-indent: 5px;
}

/* Upload panel */
.upload_panel
{
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 58px;
}

.upload_image
{
    width: 300px;
    height: 400px;
    margin: 0px 22px;
}

.upload_control_box
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 412px;
    margin: 0px;
}

.upload_settings
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    margin-top: -14px;
}

.upload_settings hr
{
    border: 1px solid #dddfe0;
}

/* Sliders */
.slider_container
{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 0px;
    border-bottom: 1px;
    border-color: #dddfe0;
    border-style: solid;
    padding: 0px 32px 1px 92px;
    background-position-y: 12px;
    background-repeat: no-repeat;
}

.slider_crop
{
    background-image: url(images/crop.png);
}
.slider_fill
{
    background-image: url(images/fill.png);
    margin-top: 3px;
}
.slider_contrast
{
    background-image: url(images/contrast.png);
    background-position-x: 6px;
    background-position-y: 18px;
}

.slider
{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: black;
    outline: none;
    flex-grow: 1;
}

.slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: url(images/slider.svg)  no-repeat;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:active
{
    background: url(images/slider-active.svg)  no-repeat;
}

.slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: url(images/slider.svg)  no-repeat;
    cursor: pointer;
}

.slider::-moz-range-thumb:active
{
    background: url(images/slider-active.svg)  no-repeat;
}

/* Upload buttons */
.upload_buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: flex-end;
    margin-top: 60px;
    margin-right: 2px;
}

.upload_buttons button
{
    width: 183px;
    height: 55px;
    text-align: center;
    padding: 0px 0px 4px 5px;
    font-weight: bold;

    border-width: 3px;
    border-radius: 27px;
    border-style: solid;
}

.upload_button
{
    color: #d22856;
    border-color: #d22856;
    background: transparent;
}
.upload_button:hover
{
    color: white;
    background: #d22856;
}
.upload_button:active
{
    color: rgba(255, 255, 255, .3);
    background: #d22856;
}

.cancel_button
{
    color: #DDDFE0;
    border-color: #DDDFE0;
    background: transparent;
}
.cancel_button:hover
{
    color: #B5B9BE;
    border-color: #B5B9BE;
}
.cancel_button:active
{
    color: rgba(255, 255, 255, .3);
    background: #B5B9BE;
}

/* Footer */

.footer
{
    padding: 101px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pink_logo_bottom
{
    margin-top: -16px;
}

footer ul
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-left: 25px;
}

footer ul li
{
    list-style-type: none;
    margin: 0 7px;
}

footer ul a
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    
    color: red;
    border: 3px solid #DDDFE0;
    border-radius: 50%;
}

footer ul a:hover
{
    border-color: black;
}

footer ul a:active
{
    border-color: #DDDFE0;
    opacity: .4;
}

address
{
    display: block;
    font-style: normal;
    padding: 10px 40px 10px 10px;
    background: url(images/htmlacademy.png);
    background-repeat: no-repeat;
    background-position-y: 80%;
    background-position-x: 100%;
}